#conteudo-principal {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#conteudo-principal #container-2 {
    background: var(--cor-fundo-secundario);
}

#conteudo-principal .container-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4vw;
    gap: 1.685rem;
}

#conteudo-principal .container-general img {
    max-width: 100%;
}

#conteudo-principal .container-general h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.685rem;
}

#conteudo-principal .container-general p {
    margin-bottom: 2.5rem;
}

#conteudo-principal #container-1, #container-2, #container-3 img {
    margin-top: 2.5rem;
}

#conteudo-principal #container-4 {
    background: var(--cor-fundo-secundario);
}

#conteudo-principal #container-4 h3 {
    font-family: var(--font-secundaria);
    font-size: 2rem;
    min-width: 300px;
    margin-top: 2.5rem;
}

#conteudo-principal #container-4 p {
    margin-bottom: 0;
}

#conteudo-principal #container-4 img {
    margin-bottom: 2.5rem;
}

@media  screen and (min-width: 1200px) {

    #conteudo-principal .container-general {
        flex-direction: row;
        padding: 0 9.2rem;
        gap: 1rem;
    }

    #conteudo-principal .container-general h3 {
        font-size: 2.5rem;
        font-weight: 800;
        min-width: 340px;
    }

    #conteudo-principal #container-2 {
        flex-direction: row-reverse;
    }

    #conteudo-principal #container-4 {
        flex-direction: column;
        text-align: center;
    }

    #conteudo-principal #container-4 .container-4_texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #conteudo-principal #container-4 h3 {
        font-size: 2.5rem;
        text-align: center;
        width: 608px;
        margin-bottom: 1rem;
    }

    #conteudo-principal .container-general p {
        margin-bottom: 1rem;
    }

}


